# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
BubbleSort/BubbleSort.sdf
BubbleSort/BubbleSort/Debug/BubbleSort.exe.embed.manifest
BubbleSort/BubbleSort/Debug/BubbleSort.exe.embed.manifest.res
BubbleSort/BubbleSort/Debug/BubbleSort.lastbuildstate
BubbleSort/BubbleSort/Debug/BubbleSort.write.1.tlog
BubbleSort/BubbleSort/Debug/BubbleSort_manifest.rc
BubbleSort/BubbleSort/Debug/CL.read.1.tlog
BubbleSort/BubbleSort/Debug/CL.write.1.tlog
BubbleSort/BubbleSort/Debug/cl.command.1.tlog
BubbleSort/BubbleSort/Debug/link.command.1.tlog
BubbleSort/BubbleSort/Debug/link.read.1.tlog
BubbleSort/BubbleSort/Debug/link.write.1.tlog
BubbleSort/BubbleSort/Debug/rc.command.1.tlog
BubbleSort/BubbleSort/Debug/rc.read.1.tlog
BubbleSort/BubbleSort/Debug/rc.write.1.tlog
BubbleSort/BubbleSort/Debug/vc100.idb
BubbleSort/ipch/bubblesort-f17e3d98/bubblesort-5c1b2660.ipch
BubbleSort/ipch/insertsort-51c39a5a/insertsort-8b0cd049.ipch
HeapSort/Debug/CL.read.1.tlog
HeapSort/Debug/CL.write.1.tlog
HeapSort/Debug/HeapSort.exe.embed.manifest
HeapSort/Debug/HeapSort.exe.embed.manifest.res
HeapSort/Debug/HeapSort.lastbuildstate
HeapSort/Debug/HeapSort.write.1.tlog
HeapSort/Debug/HeapSort_manifest.rc
HeapSort/Debug/cl.command.1.tlog
HeapSort/Debug/link.3264.read.1.tlog
HeapSort/Debug/link.3264.write.1.tlog
HeapSort/Debug/link.command.1.tlog
HeapSort/Debug/link.read.1.tlog
HeapSort/Debug/link.write.1.tlog
HeapSort/Debug/rc.command.1.tlog
HeapSort/Debug/rc.read.1.tlog
HeapSort/Debug/rc.write.1.tlog
HeapSort/Debug/vc100.idb
BubbleSort/Debug/BubbleSort.exe.embed.manifest
BubbleSort/Debug/BubbleSort.exe.embed.manifest.res
BubbleSort/Debug/BubbleSort.lastbuildstate
BubbleSort/Debug/BubbleSort.write.1.tlog
BubbleSort/Debug/BubbleSort_manifest.rc
BubbleSort/Debug/CL.read.1.tlog
BubbleSort/Debug/CL.write.1.tlog
BubbleSort/Debug/cl.command.1.tlog
BubbleSort/Debug/link.command.1.tlog
BubbleSort/Debug/link.read.1.tlog
BubbleSort/Debug/link.write.1.tlog
BubbleSort/Debug/rc.command.1.tlog
BubbleSort/Debug/rc.read.1.tlog
BubbleSort/Debug/rc.write.1.tlog
BubbleSort/Debug/vc100.idb
InsertSort/Debug/CL.read.1.tlog
InsertSort/Debug/CL.write.1.tlog
InsertSort/Debug/InsertSort.exe.embed.manifest
InsertSort/Debug/InsertSort.exe.embed.manifest.res
InsertSort/Debug/InsertSort.lastbuildstate
InsertSort/Debug/InsertSort.write.1.tlog
InsertSort/Debug/InsertSort_manifest.rc
InsertSort/Debug/cl.command.1.tlog
InsertSort/Debug/link.command.1.tlog
InsertSort/Debug/link.read.1.tlog
InsertSort/Debug/link.write.1.tlog
InsertSort/Debug/rc.command.1.tlog
InsertSort/Debug/rc.read.1.tlog
InsertSort/Debug/rc.write.1.tlog
InsertSort/Debug/vc100.idb
MergerSort/Debug/CL.read.1.tlog
MergerSort/Debug/CL.write.1.tlog
MergerSort/Debug/MergerSort.exe.embed.manifest
MergerSort/Debug/MergerSort.exe.embed.manifest.res
MergerSort/Debug/MergerSort.lastbuildstate
MergerSort/Debug/MergerSort.write.1.tlog
MergerSort/Debug/MergerSort_manifest.rc
MergerSort/Debug/cl.command.1.tlog
MergerSort/Debug/link.4192.read.1.tlog
MergerSort/Debug/link.4192.write.1.tlog
MergerSort/Debug/link.6288.read.1.tlog
MergerSort/Debug/link.6288.write.1.tlog
MergerSort/Debug/link.command.1.tlog
MergerSort/Debug/link.read.1.tlog
MergerSort/Debug/link.write.1.tlog
MergerSort/Debug/rc.command.1.tlog
MergerSort/Debug/rc.read.1.tlog
MergerSort/Debug/rc.write.1.tlog
MergerSort/Debug/vc100.idb
QuikSort/Debug/CL.read.1.tlog
QuikSort/Debug/CL.write.1.tlog
QuikSort/Debug/QuikSort.exe.embed.manifest
QuikSort/Debug/QuikSort.exe.embed.manifest.res
QuikSort/Debug/QuikSort.lastbuildstate
QuikSort/Debug/QuikSort.write.1.tlog
QuikSort/Debug/QuikSort_manifest.rc
QuikSort/Debug/cl.command.1.tlog
QuikSort/Debug/link.command.1.tlog
QuikSort/Debug/link.read.1.tlog
QuikSort/Debug/link.write.1.tlog
QuikSort/Debug/rc.command.1.tlog
QuikSort/Debug/rc.read.1.tlog
QuikSort/Debug/rc.write.1.tlog
QuikSort/Debug/vc100.idb
SelectSort/Debug/CL.read.1.tlog
SelectSort/Debug/CL.write.1.tlog
SelectSort/Debug/SelectSort.exe.embed.manifest
SelectSort/Debug/SelectSort.exe.embed.manifest.res
SelectSort/Debug/SelectSort.lastbuildstate
SelectSort/Debug/SelectSort.write.1.tlog
SelectSort/Debug/SelectSort_manifest.rc
SelectSort/Debug/cl.command.1.tlog
SelectSort/Debug/link.command.1.tlog
SelectSort/Debug/link.read.1.tlog
SelectSort/Debug/link.write.1.tlog
SelectSort/Debug/rc.command.1.tlog
SelectSort/Debug/rc.read.1.tlog
SelectSort/Debug/rc.write.1.tlog
SelectSort/Debug/vc100.idb
ShellSort/Debug/CL.read.1.tlog
ShellSort/Debug/CL.write.1.tlog
ShellSort/Debug/ShellSort.exe.embed.manifest
ShellSort/Debug/ShellSort.exe.embed.manifest.res
ShellSort/Debug/ShellSort.lastbuildstate
ShellSort/Debug/ShellSort.write.1.tlog
ShellSort/Debug/ShellSort_manifest.rc
ShellSort/Debug/cl.command.1.tlog
ShellSort/Debug/link.command.1.tlog
ShellSort/Debug/link.read.1.tlog
ShellSort/Debug/link.write.1.tlog
ShellSort/Debug/rc.command.1.tlog
ShellSort/Debug/rc.read.1.tlog
ShellSort/Debug/rc.write.1.tlog
ShellSort/Debug/vc100.idb
SortAlgorithm.opensdf
SortAlgorithm.sdf
ipch/heapsort-1a8b448c/heapsort-2cc8f0b2.ipch
